@let size = this.size();
@let color = this.color();

<label class="flex items-center gap-3 w-full transition-all focus-within:outline-none!" [ngClass]="{
                'input input-bordered border-2 px-5': bordered(),
                'input-xs': size === 'xs',
                'input-sm': size === 'sm',
                'input-md': size === 'md',
                'input-lg': size === 'lg',
                'input-xl': size === 'xl',
                'focus-within:input-neutral': color === 'neutral',
                'focus-within:input-primary': color === 'primary',
                'focus-within:input-secondary': color === 'secondary',
                'focus-within:input-accent': color === 'accent',
                'focus-within:input-info': color === 'info',
                'focus-within:input-success': color === 'success',
                'focus-within:input-warning': color === 'warning',
                'focus-within:input-ghost': color === 'transparent',
                'input-error': (color === 'error') || invalid(),
                'rounded-full': rounded()
           }">
    @let iconClass = this.iconClass();

    @if (iconClass && iconClass.length > 0) {
        <i [class]="['opacity-50', ...iconClass].join(' ')"></i>
    }

    <input class="grow outline-none bg-transparent" [type]="type()" [placeholder]="placeholder()" [autocomplete]="autocomplete()"
           [attr.list]="datasetId()" [disabled]="disabled()" (focus)="focus.emit($event)" (change)="change.emit($event)"
           [value]="value() ?? ''" (input)="onInput($event)" (blur)="onBlur()"/>
    @let datalist = this.datalist();

    @if (datalist) {
        <datalist [id]="datasetId()">
            @for (datasetItem of datalist; track datasetItem) {
                <option [value]="datasetItem"></option>
            }
        </datalist>
    }
</label>

@let validationFeedback = this.validationFeedback();
@if (validationFeedback && !hideValidation()) {
    <ui-validation-feedback [feedback]="validationFeedback"></ui-validation-feedback>
}
