@let size = this.size();
@let color = this.color();

<label class="input input-bordered flex items-center gap-2 w-full" [ngClass]="{
                'input-xs': size === 'xs',
                'input-sm': size === 'sm',
                'input-md': size === 'md',
                'input-lg': size === 'lg',
                'input-xl': size === 'xl',
                'input-neutral': color === 'neutral',
                'input-primary': color === 'primary',
                'input-secondary': color === 'secondary',
                'input-accent': color === 'accent',
                'input-info': color === 'info',
                'input-success': color === 'success',
                'input-warning': color === 'warning',
                'input-ghost': color === 'transparent',
                'input-error': (color === 'error') || invalid(),
           }">
    @let iconClass = this.iconClass();

    @if (iconClass && iconClass.length > 0) {
        <i [class]="['opacity-50', ...iconClass].join(' ')"></i>
    }

    <input class="grow" [type]="type()" [placeholder]="placeholder()" [autocomplete]="autocomplete()"
           [attr.list]="datasetId()" [disabled]="disabled()"
           [value]="value()" (input)="onInput($event)" (blur)="onBlur()"/>
    @let datalist = this.datalist();

    @if (datalist) {
        <datalist [id]="datasetId()">
            @for (datasetItem of datalist; track datasetItem) {
                <option [value]="datasetItem"></option>
            }
        </datalist>
    }
</label>

@let validationFeedback = this.validationFeedback();
@if (validationFeedback) {
    <ui-validation-feedback [feedback]="validationFeedback"></ui-validation-feedback>
}
