<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">

  </div>
  <div class="navbar-center">
      <a class="btn btn-ghost px-4 py-2 h-auto border-0 rounded-xl" [routerLink]="['/']">
        <img alt="furrify logo" class="logo-img" ngSrc="furrify-horizontal-transparent.png" width="160" height="33"
             priority="high"/>
      </a>
  </div>
  <div class="navbar-end">
    <label class="btn btn-ghost btn-circle swap swap-rotate text-2xl">
      <input type="checkbox" class="theme-controller" value="light" />

      <i class="bi bi-sun-fill swap-off"></i>

      <i class="bi bi-moon-fill swap-on"></i>
    </label>
  </div>
</div>
