<div class="flex justify-between items-center w-full">
    <h1 class="text-3xl font-bold">{{ 'app.dashboard.overview.title' | translate }}</h1>
    <ui-refresh-button id="refreshStatisticsBtn"
                       [isRefreshing]="areUserStatsFetching()"
                       (refresh)="fetchStatistics()">
    </ui-refresh-button>
</div>

@let valueNotAvailable = "N/A";

<div class="stats stats-vertical lg:stats-horizontal shadow w-full">
    <div class="stat">
        <div class="stat-title">{{ 'app.dashboard.overview.posts' | translate }}</div>
        <div class="stat-value text-primary" id="postsCount">
            @if (areUserStatsFetching()) {
                <span class="loading loading-spinner"></span>
            } @else {
                {{ (userStats()?.postsCount ?? valueNotAvailable) }}
            }
        </div>
    </div>
    <div class="stat">
        <div class="stat-title">{{ 'app.dashboard.overview.collections' | translate }}</div>
        <div class="stat-value text-secondary" id="collectionsCount">
            @if (areUserStatsFetching()) {
                <span class="loading loading-spinner"></span>
            } @else {
                {{ (userStats()?.collectionsCount ?? valueNotAvailable) }}
            }
        </div>
    </div>
    <div class="stat">
        <div class="stat-title">{{ 'app.dashboard.overview.libraries' | translate }}</div>
        <div class="stat-value" id="librariesCount">
            @if (areUserStatsFetching()) {
                <span class="loading loading-spinner"></span>
            } @else {
                {{ (userStats()?.librariesCount ?? valueNotAvailable) }}
            }
        </div>
    </div>
    <div class="stat">
        <div class="stat-title">{{ 'app.dashboard.overview.tags' | translate }}</div>
        <div class="stat-value text-accent" id="tagsCount">
            @if (areUserStatsFetching()) {
                <span class="loading loading-spinner"></span>
            } @else {
                {{ (userStats()?.tagsCount ?? valueNotAvailable) }}
            }
        </div>
    </div>
    <div class="stat">
        <div class="stat-title">{{ 'app.dashboard.overview.artists' | translate }}</div>
        <div class="stat-value text-info" id="artistsCount">
            @if (areUserStatsFetching()) {
                <span class="loading loading-spinner"></span>
            } @else {
                {{ (userStats()?.artistsCount ?? valueNotAvailable) }}
            }
        </div>
    </div>
    <div class="stat">
        <div class="stat-title">{{ 'app.dashboard.overview.brokers' | translate }}</div>
        <div class="stat-value text-success">
            @if (areUserStatsFetching()) {
                <span class="loading loading-spinner"></span>
            } @else {
                {{ valueNotAvailable }}
            }
        </div>
    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-6">

    <div class="card bg-base-100 shadow-xl col-span-1">
        <div class="card-body">
            <h2 class="card-title">{{ 'app.dashboard.overview.mediaTypes.title' | translate }}</h2>
            @if (areUserStatsFetching()) {
                <div class="h-80 w-full mt-4 flex justify-center items-center">
                    <span class="loading loading-spinner text-primary w-12 h-12"></span>
                </div>
            } @else {
                <div echarts [options]="pieChartOptions()" class="h-80 w-full mt-4" id="mediaTypesChart"></div>
            }
        </div>
    </div>

    <div class="card bg-base-100 shadow-xl col-span-1 lg:col-span-2">
        <div class="card-body">
            <h2 class="card-title">{{ 'app.dashboard.overview.growthChart.title' | translate }}</h2>
            @if (areUserStatsFetching()) {
                <div class="h-80 w-full mt-4 flex justify-center items-center">
                    <span class="loading loading-spinner text-primary w-12 h-12"></span>
                </div>
            } @else {
                <div echarts [options]="lineChartOptions()" class="h-80 w-full mt-4" id="growthChart"></div>
            }
        </div>
    </div>

</div>
